:root{
    --fundo:#b9ab2a3f;
    --cartao-frente:#8b1313;
    --cartao-verso:#8b1313;
    --destaque:#4B0082;
    --vermelho:#df0f0f;
    --branco:#ffffff;
}

body{
    background-color: var(--fundo);

}
footer{
    background-color: var(--vermelho); 
    position: fixed;
    bottom: 0;
    color: var(--branco);
    width: 100%;
    text-align: center;
}


#container{
    display:flex;
    flex-wrap: wrap;
justify-content: space-between;
padding: 4rem;
gap: 3rem;
}

.cartao{
    margin: 1rem;
    height: 20rem;
    flex-grow: 1;
    flex-basis: calc(33% - 6rem);
}

.conteudo-cartao{
    background-color: var(--cartao-frente);
    text-align: center;
    height: 100%;
    color: var(--branco);
    transform-style: preserve-3d;
    transition: transform 300ms ease-in-out;
}

.conteudo-cartao h3{
    position: absolute;
    border: 1px solid var(--destaque);
    border-radius: 0.6rem;
    margin: 0.6rem;
    padding: 0.6rem;
    backface-visibility: hidden;
}


.conteudo-cartao p{
    margin-top: 4rem;
    padding: 2rem;
    font-size: 1.4vw;
}

.cartao:hover .conteudo-cartao{
    transform: rotateY(180deg);
}

.pergunta-cartao, .resposta-cartao{
    backface-visibility: hidden;
    position: absolute;
    height: 100%;
    width: 100%;
}

.resposta-cartao{
    transform: rotateY(180deg);
    font-weight: 700;
    color: var(--destaque);
    border: 2px solid var(--destaque);
}