:root{
    --fundo:#00ff9d5b;
    --cartao-frente:#8b1313;
    --cartao-verso:#8b1313;
    --destaque:#4B0082;
    --preto:#00000000;
    --branco:#ffffff;
}

body{
    background-color: var(--fundo);

}
footer{
    background-color: var(--preto); 
    position: fixed;
    bottom: 0;
    color: var(--branco);
    width: 100%;
    text-align: center;
}

