:root{
    --fundo:#b9ab2a3f;
    --cartao-frente:#8b1313;
    --cartao-verso:#8b1313;
    --destaque:#4B0082;
    --azul:#240fdf;
    --branco:#ffffff;
}

body{
    background-color: var(--fundo);

}
footer{
    background-color: var(--azul); 
    position: fixed;
    bottom: 0;
    color: var(--preto);
    width: 100%;
    text-align: center;
}

